<form>
	<select name="date">
		{{#daylist}}
		<option value="{{2}}{{3}}{{4}}"{{#5}} selected{{/5}}>{{4}}.{{3}}.{{2}}</option>
		{{/daylist}}
	</select>
	<input type="submit">
</form>
<table class="tim_tbl">
	<thead>
		<tr>
			<td>datetime</td>
			<td>addresses</td>
			<td>subject</td>
			<td>attachment</td>
			<td>config</td>
			<td>result</td>
			<td>error</td>
		</tr>
	</thead>
	<tbody>
	{{#items}}{{#timestamp}}
		<tr>
			<td>{{datetime}}</td>
			<td>
				{{#sender}}<div>from:&nbsp;{{.}}</div>{{/sender}}
				{{#email_to}}<div>to:&nbsp;{{1}}&nbsp;&lt;{{0}}&gt;</div>{{/email_to}}
				</td>
			<td>{{subject}}</td>
			<td>{{#attachment}}<div><a href="/{{0}}" target="_blank">{{2}}</a></div>{{/attachment}}</td>
			<td>{{config}}</td>
			<td>{{#result}}<span style="color:green;">OK</span>{{/result}}{{#result_false}}<span style="color:red;">BAD</span>{{/result_false}}</td>
			<td>{{error}}</td>
		</tr>
	{{/timestamp}}{{/items}}
	</tbody>
</table>
